@model F1nanceC0ntrol.Models.FinancialTransaction

@{
    ViewData["Title"] = "Detalhes da Transação";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header @(Model.Type == TransactionType.Income ? "bg-success" : "bg-danger") text-white">
        <h5>@Model.Description</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Amount)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Amount)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.TransactionDate)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TransactionDate)</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Type)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Type)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Category)</dt>
                    <dd class="col-sm-8">@(Model.Category?.Name ?? "Sem categoria")</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Notes)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Notes)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>