@model F1nanceC0ntrol.Models.CarCost

@{
    ViewData["Title"] = "Excluir Custo de Carro";
}

<h1>Excluir Custo de Carro</h1>

<h3>Tem certeza de que deseja excluir este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>